<h2>Resultados de Operaciones con Matrices</h2>

<table border="1">
    <thead>
        <tr>
            <th>ID</th>
            <th>Operación</th>
            <th>Matriz</th>
        </tr>
    </thead>
    <tbody>
        {{#each resultados}}
        <tr>
            <td>{{ID}}</td>
            <td>{{Operacion}}</td>
            <td>{{matriz}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>
