<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="theme-color" content="#8f7ada" />
    <title>{{title}}</title>
    <link rel="stylesheet" href="styles.css" />
    <link rel="icon" type="image/x-icon" href="https://cdn-icons-png.flaticon.com/512/564/564429.png">
</head>

<body>
    <div id="div-header">
        <h1>
            Calculardora de matrices
        </h1>

        <p>
            Introduce el tamaño de la matriz
        </p>
    </div>

    <div id="div-pantalla-principal">

        <p>Número de filas</p>
        <input type="number" id="filasMatriz" class="input-indicador" placeholder="2" />

        <p>Número de columnas</p>
        <input type="number" id="columnasMatriz" class="input-indicador" placeholder="2" />

        <button id="boton-confirmar" onclick="confirmarMatriz()">
            Confirmar
        </button>
    </div>


    <script src="script.js"></script>
    
        

</body>

</html>